body {
    font-family: sans-serif;
   
   
 margin-top: 60px;
}

.center {
    text-align: center;
    
}

.text-big {
    font-size: 300px;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 120px;
}

.con {
    max-width: 800px;
    margin: 0 auto;
    color: blue;
    background:  url(http://cdn.appstorm.net/web.appstorm.net/files/2011/05/april-11-april__14-nocal-800x600-620x465.jpg) repeat-x;
    padding-left: 10px;
    padding-right: 20px;
}