body {
    font-family: sans-serif;
  
 margin-top: 200px;
}

.center {
    text-align: center;
    
}

.text-big {
    font-size:300px;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 120px;
}

.con {
    max-width: 800px;
    margin: 0 auto;
    color: black;
    
    padding-left: 100px;
    padding-right: 200px;
}