body {
    font-family: sans-serif;
   background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSUgfPeq0RhhOnIu7tPFR3W68j6wzh45KPuJmp3-e_W2ZD_XFY9Eg");
 margin-top: 200px;
}

.center {
    text-align: center;
    
}

.text-big {
    font-size:300px;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 100px;
}

.con {
    max-width: 1000px;
    margin: 0 auto;
    color: blue;
    
    padding-left: 10px;
    padding-right: 20px;
}